/* Base Application Styles - No Tailwind */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    line-height: 1.6;
    color: #111827;
    background-color: #f9fafb;
}
